<!DOCTYPE html>
<html>
    <head>
        <title>{{pageTitle}}</title>
        <link href="/css/styles.css" rel="stylesheet">
        <title>Weather App</title>
    </head>
    <body>

         <div class="main-content">
                 {{>header}}
            <p>{{errorMessage}}</p>
        </div>

      
        {{>footer}}
    </body>
</html>